astroid==2.11.3
autopep8==1.6.0
click==8.1.2
dill==0.3.4
distlib==0.3.4
filelock==3.6.0
Flask==2.1.1
Flask-Admin==1.6.0
Flask-CKEditor==0.4.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
greenlet==1.1.2
importlib-metadata==4.11.3
isort==5.10.1
itsdangerous==2.1.2
Jinja2==3.1.1
lazy-object-proxy==1.7.1
libxml2-python==2.9.14
MarkupSafe==2.1.1
mccabe==0.7.0
platformdirs==2.5.2
pycodestyle==2.8.0
pylint==2.13.7
six==1.16.0
SQLAlchemy==1.4.36
tablib==3.2.1
toml==0.10.2
tomli==2.0.1
typing_extensions==4.2.0
virtualenv==20.14.1
Werkzeug==2.1.1
wrapt==1.14.0
WTForms==3.0.1
zipp==3.8.0
